.Logo {
  width: 24px !important;
  height: 24px !important;
  flex-shrink: 0 !important;
  overflow: hidden !important;
}

.txt {
  font-size: 12px !important;
  line-height: 21px !important;
  color: #6f7588 !important;
}
.txt1 {
  font-size: 12px !important;
  line-height: 21px !important;
  color: #6f7588 !important;
}

.headTxt {
  font-size: 20px !important;
  line-height: 21px !important;
  color: black !important;
  font-weight: bold !important;
}

.headText {
  text-align: center!important;
  display: flex !important;
  font-size: 20px !important;
  line-height: 21px !important;
  color: black !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  min-width: 445%;
}

.headTxt .a {
  text-decoration: underline !important;
}

@media screen and (max-width: 800px) {
  .footerContainer{
    display: flex;
    flex-direction: column !important;
    max-width: none;
  }
  .smContainer{
    max-width: 100% !important;
    margin: 5px 0 !important;
  }
  
.headText {
  /* text-align: center!important;
  display: flex !important;
  font-size: 20px !important;
  line-height: 21px !important;
  color: black !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center; */
  min-width: 20rem;
  margin-top: .4rem;
}
.footerTxt{
  margin: 0 0 .5rem 0 !important;
  padding: 0 0 .9rem 0;
  border-bottom: 1px solid rgb(198, 198, 198);
}
.txt1 {
  text-align: center;
  margin-top: .5rem;
}
}