.frame1 {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 24px !important;

    position: absolute !important;
    width: 80% !important;
    height: 40% !important;
    left: 40px !important;
    top: 130px !important;
}
.footer{
    width: 165%;
    position: relative;
    right: 180px;
}
.image1 {
    width: 120px !important;
    height: 120px !important;
    border-radius: 20px !important;
}

.frame2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 8px !important;
    width: 80% !important;
}

.header1 {
    width: 30% !important;
    height: 40px !important;

    /* Heading Desktop/H3/Semi Bold */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 34px !important;
    line-height: 40px !important;
    /* identical to box height, or 118% */

    letter-spacing: -0.02em !important;

    /* Content/Primary */
    color: #080C0F !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
}

.description {
    width: 70% !important;
    /* Body Copy/14 N/Medium */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Secondary */

    color: #6F7588 !important;
}

.social {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 0px !important;
    gap: 12px !important;
    width: 70% !important;
}

.button1 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 8px !important;
    gap: 8px !important;
    width: 90px !important;
    height: 36px !important;

    /* Surface/Light Surface

Table sub clients bg (Neutral 0)
*/
    background: #F9F9FB !important;
    border-radius: 5px !important;
}

.logo1 {

    width: 18px !important;
    height: 18px !important;
}

.socialName {
    width: 48px !important;
    height: 20px !important;

    /* Body Copy/14 N/Medium */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Secondary */

    color: #6F7588 !important;
}

.frame3 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 16px !important;

    position: absolute !important;
    width: 160px !important;
    height: 200px !important;
    right:4rem !important;
    top: 130px !important;
}

.frame4 {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 16px !important;

    width: 160px !important;
    height: 104px !important;


    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

.upvotebutton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px !important;
    gap: 8px !important;

    width: 160px !important;
    height: 44px !important;

    /* Content/Primary */

    background: #080C0F !important;
    border-radius: 8px !important;

    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

.upvote {
    width: 110px !important;
    height: 20px !important;

    /* Body Copy/14 N/Medium */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */

    display: flex !important;
    align-items: flex-end !important;

    /* Primary/Content */

    color: #FFFFFF !important;


    /* Inside auto layout */

    flex: none !important;
    order: 1 !important;
    flex-grow: 0 !important;
    cursor: pointer;
}

.visit {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 16px !important;
    gap: 10px !important;
    position: relative !important;
    width: auto !important;
    height: auto !important;

    background: #FFFFFF !important;
    /* Neutral/N 50 */

    /* border: 1.5px solid #F1F1F3 !important; */
    border-radius: 8px !important;

    /* Inside auto layout */

    flex: none !important;
    order: 1 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Primary */

    color: #080C0F !important;
    cursor: pointer;
}

.share {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 16px !important;
    cursor: pointer !important;
    width: 160px !important;
    height: 80px !important;


    /* Inside auto layout */

    flex: none !important;
    order: 1 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

.Share {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center !important;
    padding: 6px 12px !important;
    gap: 10px !important;
    width: 76px !important;
    height: 32px !important;
    position: absolute;
    right: 5.3rem;

    /* Inside auto layout */

    flex: none !important;
    order: 1 !important;
    flex-grow: 0 !important;

    /* Body Copy/14 N/Medium */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Secondary */

    color: #6F7588 !important;
}

.report {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 6px 12px !important;
    gap: 10px !important;
    position: absolute !important;
    width: 180px !important;
    height: 90px !important;
    top:5rem;
    right: 1rem;

    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Secondary */

    color: #6F7588 !important;
}

.imagelist {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 12px !important;
    height: 52px !important;
}

.describeText {
    height: 45% !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    margin-bottom: 4rem;
    font-size: 15px !important;
    line-height: 24px !important;
    /* or 160% */
    /* Content/Secondary */

    color: #6F7588 !important;
}

.describe {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 24px !important;

    position: absolute !important;
    width: 65% !important;
    height: 184px !important;
    left: 12% !important;
    top: 840px !important;
}

.tags {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 8px !important;
    height: 34px !important;
}

.tag {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding: 8px !important;
    gap: 14px !important;
    background: #F9F9FB !important;
    border-radius: 6px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px !important;

    color: #080C0F !important;
}

.tagbox {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 0px !important;
    gap: 16px !important;
    width: 100% !important;
    height: 40px !important;
    margin-bottom: 1.5rem !important;
}

.websiteshare {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 10px !important;
    gap: 10px !important;

    border-radius: 10px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Primary/Action */

    color: #007D54 !important;

}

.meettab {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0px !important;
    gap: 12px !important;
    height: 28px !important;


    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

.meettheteam {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 6px !important;

    width: 324.2px !important;
    height: 28px !important;


    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    /* identical to box height, or 117% */

    letter-spacing: -0.02em !important;

    /* gray/900 */

    color: #18181B !important;
}

.viewall {

    width: 56px !important;
    height: 21px !important;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    /* identical to box height */


    /* Content/Secondary */

    color: #6F7588 !important;
}

.teamview {
    box-sizing: border-box !important;

    /* Auto layout */

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 4px !important;
    background: #FFFFFF !important;
    border-radius: 15px !important;

}

.twittername {
    width: 140px !important;
    height: 18px !important;
    align-items: center !important;
    justify-content: center !important;

    /* Caption/Regularexplore */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    /* identical to box height, or 150% */

    text-align: center !important;

    /* Content/Secondary */

    color: #6F7588 !important;
}

.teamlist {
    box-sizing: border-box !important;

    /* Auto layout */

    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 4px !important;
    gap: 6% !important;

    background: #FFFFFF !important;
    border-radius: 15px !important;
}

.name {
    display: flex !important;
    flex-direction: column !important;
    padding: 0px !important;
    gap: 2px !important;
    align-items: center !important;
    justify-content: center !important;
    width: 140px !important;
    height: 40px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */

    text-align: center !important;

    /* Content/Primary */

    color: #080C0F !important;
}

.profileimg {
    object-fit: cover !important;
    border-radius: 50% !important;
    width: 60% !important;
    padding-bottom: 10px !important;
    height: 60% !important;
}

.teams {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    list-style: none !important;
    align-items: center !important;
    padding: 0px !important;
    gap: 15px !important;
    border-radius: 10px !important;
}

.team {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 11px !important;

    position: absolute !important;
    width: 65% !important;
    height: auto !important;
    left: 12% !important;
    top: 68.75rem !important;
}

.image {
    box-sizing: border-box !important;
    width: 52px !important;
    height: 52px !important;
    /* Content/Tertiary */

    border: 1px solid #B7BAC3 !important;
    border-radius: 6px !important;

}

.preview {
    box-sizing: border-box !important;

    width: 100% !important;
    height: 460px !important;
    /* Surface/Divider */

    border: 1px solid #EEEFF2 !important;
    border-radius: 10px !important;
}

.images {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0px !important;
    gap: 16px !important;

    position: absolute !important;
    width: 65% !important;
    left: 12% !important;
    top: 17rem !important;
}

.sharelogo {
    width: 20px !important;
    height: 20px !important;
    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
}

.sharetext {
    width: 150px !important;
    height: 20px !important;

    /* Body Copy/14 N/Medium */

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    /* identical to box height, or 143% */


    /* Content/Primary */

    color: #080C0F !important;


    /* Inside auto layout */

    flex: none !important;
    order: 1 !important;
    flex-grow: 1 !important;
}

.sharesocial {
    cursor: pointer !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 12px 16px !important;
    gap: 6px !important;

    width: 110%px !important;
    height: 44px !important;

    background: #FFFFFF !important;
    border-radius: 8px !important;

    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

.upvotedprofiles {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    gap: 11px !important;

    position: absolute !important;
    width: 65% !important;
    height: 198px !important;
    left: 12% !important;
    top: 85rem !important;
}

.shareButtons {
    box-sizing: border-box !important;
    /* Auto layout */
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 8px !important;
    gap: 2px !important;
    position: absolute !important;
    width: 100% !important;
    height: 7rem !important;
    right: 0 !important;
    top: 230px !important;
    background: #FFFFFF !important;
    /* Surface/Strong Divider */

    border: 1px solid #E6E7E8 !important;
    border-radius: 10px !important;
}

@media (max-width:62.5rem) {
    .imagelist{
        display: flex !important;
    }
    .images{
        width: 18.75rem !important;
        height: 12.5rem !important;
        /* position: fixed !important; */
        display: flex;
        /* left: 40% !important; */
        top: 50rem !important;
    }
    .preview{
        height: 12.5rem !important;
        width: 18.75rem !important;
        /* object-fit: contain; */
        /* left: 35% !important; */
        /* padding: 5px; */
        /* border: none !important; */
        /* top: 50rem !important; */
        /* margin-right: 50%; */
        /* display: none; */
        margin: auto !important;
    }
    .frame1{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .frame1 .image1{
        height: 9.375rem !important;
        width:  9.375rem !important;
    }
    .frame2{
        align-items: center !important;
        justify-content: center !important;
        /* text-align: center; */
    }
    .social{
        display: flex !important;
        position: absolute;
        top: 65.625rem;
        left: 0 !important;
        flex-direction: column !important;
        gap: 0.625rem;
        align-items: flex-start !important;
    }
    .social a div{
        display: flex;
        gap: 1.5rem;
    }
    .description{
        margin-top: 1.875rem;
    }
    .frame3{
        top: 31.25rem !important;
        left: 0% !important;
        width: 100vw !important;
    }
    .frame4{
        width: 100% !important;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .frame4 button{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 2.75rem;
        margin: auto;
    }
    .card{
        width: 80% !important; 
        height: 2.75rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn{
        width: 100%;
    }
    .arrow{
        padding-top: 0 !important;
        height: auto !important;
    }
    .num{
        padding-top:0 !important ;
    }
    .visit{
        width: 80% !important;
        margin: auto;
        background:rgb(236, 231, 231) !important;
    }
    .frame4 a{
        width: 100vw !important;
    }
    .share{
        margin-top: 3.125rem;
        flex-direction: column-reverse !important;
        margin-left: 3.125rem;
        align-items: flex-start !important;
        left: 0 !important;
        justify-content: center !important;
    }
    .share .Share{
        left: 2.7rem;
        top: 8.7rem;
    }
    .shareButtons{
        /* border: none  !important; */
        top: 11rem !important;
        left: 1rem !important;
        width: max-content !important;
    }
    .report{
        margin-left:-1.25rem ;
        left: 2rem;
        border: none !important;
        top: 7rem !important;
        height: 2rem !important;
    }
    .describe{
        top: 71rem !important;
        left: 2.5rem !important;
    }
    .team{
        top: 86rem !important;
        left: 0 !important;
       text-align: center !important;
       align-self: center;
       margin: auto;
    }
    .describe .Share{
        color: green !important;
        left: 0;
        top: 12.5rem;
    }
    .describe .Share img{
        color: green;
    }
    .tagbox{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .tagbox h2{
        font-weight: 600;
        font-size: 1.25rem;
        color:black;
    }
    .viewall{
        display: none !important ;
    }
    .upvotedprofiles{
        top: 128rem !important;
        height: 68.75rem !important;
        left: 0 !important;
    }
    .teamlist{
        flex-wrap: wrap !important;
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: auto;
        align-self: center;
    }
    .teamview{
        width:9.375rem !important ;
    }
   .team p{
    text-align: center;
    margin: auto;
   }
   .meettab{
    text-align: center !important;
    width: 100vw !important;
    align-items: center !important;
    margin-left: 3.125rem;
   }
   .footer{
    margin-top: 12.5rem;
    right: 0 !important;
   }
   .h2{
    color: black;
    font-size: 17px;
    font-weight: 400;
   }
}

@media (min-width:27.5rem) {
    .images{
        position: absolute !important;
        left: 5rem !important;
    }
}
@media (min-width:33.75rem) {
    .images{
        position: absolute !important;
        left: 9.375rem !important;
    }
}
@media (min-width:46.25rem) {
    .images{
        position: absolute !important;
        left: 10.625rem !important;
    }
    .social h2{
        display: none;
    }
    .social a div{
        display: flex;
        flex-direction: row !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }
    .social a div p{
        display: none;
    }
    .share{
        margin-top: 4rem;
        flex-direction: column-reverse !important;
        margin-left: 3.125rem;
        align-items: flex-start !important;
        justify-content: center !important;
    }
    .report{
        border:0.1rem solid #F1F1F3 !important;
        border-radius:.5rem !important;
        padding-top: 1rem !important;
    }
    .visit{
        margin-top: 1rem !important;

    }
}
.tagbox h2{
    font-weight: 600;
    font-size: 1.25rem;
    color:black;
}
.social{
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}
@media (min-width:63rem) {
    .card{
        background-color: #080C0F !important;
        height: 2.75rem !important;
        width: auto !important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .report{
        border: none !important;
        right: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
        top: 6.5rem !important;
        
    }
    .Share{
        right: 4.5rem !important;
        top: 10.5rem !important;
    }
    .frame4 .card .arrow{
        color: white !important ;
        padding-top: 0 !important;
        height: auto !important;
    }
    .frame4 .card .num{
        color: white !important;
        padding-top: 0 !important;
    }
    .visit{
        border: 1.5px solid #F1F1F3 !important;
        position: absolute !important;
        right: -1rem !important;
        
        height: 2.75rem !important;
        top: 2.5rem !important;
        width: auto !important;
        min-width: 11.6rem !important;
    }
    .frame3{
        right: 4rem !important;
        top: 13rem !important;
    }
    .frame4{
        align-items: center !important;
    }
}
.frame4 .card .up{
    color: white;
    display: inline !important;
    text-transform: none;
    margin-left: 1rem;
}